@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    font-family: 'Poppins',sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color:#e9e7e7;
    --sidebar-color:#a58865;
    --primary-color:#74614f;
    --primary-color-light:#f6f5ff;
    --toggle-color:#ddd;
    --text-color:#131313;
    --widget-color:#FFFBF5;
    --widget-text:#74614f;


    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body{
    height: 100vh;
     background: var(--body-color);
     transition: var(--tran-05);
    position: relative;
}
body.dark{
    --body-color:#18191a;
    --sidebar-color:#242526;
    --primary-color:#3a3b3c;
    --primary-color-light:#3a3b3c;
    --toggle-color:#ddd;
    --text-color:#ccc;
    --widget-color:#3a3b3c;
    --widget-text:#ccc;
}
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}
.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 900; 
    font-size: 35px;
    margin-left: 10px;
    font-family: 'Facundo', sans-serif;
    margin-top:-10px;
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar .text{
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close{
    width: 88px;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar li{
    height: 60px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    font-size: 25px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li .icon,.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
.sidebar header{
    position: relative;
}

.sidebar .image-text .image .bx.bxl-react {
    font-size: 60px;
    color: var(--text-color);
}
body.darkmode .sidebar .image-text .image .bx.bxl-react {
    color: var(--widget-color);
}

.sidebar header .toggle{
    position: absolute;
    top:50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition:  var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);

}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--text-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    background: var(--);
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}
.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    
}


.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 20px;
}
.profile .circle-profile {
    background: var(--body-color);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden; /* Ensures the image doesn't overflow the circle */
    display: flex; /* Aligns child elements (like the image) properly */
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
}

.profile .circle-profile img {
    height: 100%; /* Ensures the image height fills the circle */
    width: 100%; /* Ensures the image width fills the circle */
    object-fit: cover; /* Ensures the image maintains its aspect ratio while covering the area */
}

.main .welcome{
    margin-left:150px;
    margin-top: 60px;
    display: flex;
    gap: 8px;
    color: var(--text-color);
}
.welcome-bold{
    font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  font-variation-settings:
    "wdth" 100;
}
.welcome-light{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      margin-top:5px;
      font-size: 40px;
}
.welcome .wave{
    height: 40px;
    margin-top: 6px;
    margin-left: 4px;
}
body.darkmode .welcome-bold,
body.darkmode .welcome-light{
    color: var(--)var(--widget-text);
}
.main .message{
    margin-left:140px;
    margin-top: 10px;
}
.motivation{
    font-size: 15px;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #908E8D;
}
.pomodaro {
    background: var(--widget-color);
    width: 550px;
    height: 170px;
    position: absolute; /* Keeps the box in the viewport */
    top: 0;             /* Aligns it to the top */
    right: 0;  
    margin-right: 45px;
    border-radius: 24px;
    margin-top: -25px;    
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    display: flex;        /* Enables flexbox */
    flex-direction: row;  /* Aligns child elements in a row */
    padding: 15px;        /* Adds some spacing inside the box */
}
.pomo-img {
    background: var(--body-color);
    width: 150px;
    height: 150px;
    border-radius: 14px;
    /* Removed position absolute since it's not needed for flex layout */
    margin-right: 30px; /* Adds some spacing between the image and text */
    margin-top: -5px;
    margin-left: -5px;
}
.pomo-img img{
    height: 100%; /* Ensures the image height fills the circle */
    width: 100%; /* Ensures the image width fills the circle */
    object-fit: cover;
}
.info-pomo{
    display: flex;
    flex-direction: column;
}
.info-pomo .total-time{
    font-size: 18px;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: var(--text-color);
    margin-top: 15px;
}
.info-pomo .daily-time{
    font-size: 30px;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: var(--text-color);
    margin-top: 5px;
}
.info-pomo .great{
    font-size: 14px;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #908E8D;
    margin-top: 20px;
}
.percentage{
    display: flex;
}
.percentage .bx.bx-up-arrow-alt{
    color: green;
    font-size: 22px;
    margin-top: 22px;
    margin-left: 5px;
}
.percentage .increase{
    font-size: 18px;
    color: green;
    margin-top: 20px;
    
}
.layer2{
    background:var(--widget-color);
    width: 1151px;
    height: 530px;
    position: absolute; /* Ensures the box stays in the viewport even during scrolling */ 
    margin-right:45px;
    border-radius: 24px;
    margin-top: 45px;  
    margin-left: 140px; 
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.graph h2{
    font-size: 19px;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: var(--text-color);
    margin-top: 30px;
    margin-left: 30px;
}
.wrapper{
    width: 510px;
    position: absolute;
    background:var(--widget-color);
    border-radius: 24px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    top: 0;         /* Aligns to the top */
    right: 0;
    margin-right:45px;
    margin-top: 160px;
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 20px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size:20px;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 18px;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color:var(--widget-text);
    width: calc(100% / 7);
    font-size:13px;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: var(--text-color);
  }
  .days li:not(.active):hover::before{
    background: #b4b4b4;
  }
  @media screen and (min-width: 1024px) and (max-width: 1440px) {
    .layer2 {
       width: 1040px;
       height: 480px;
    }
    .Maths, .Physics, .Chemistry {
       width: 320px;
    }
 }
 
.schedule{
    background:var(--widget-color);
    width: 510px;
    height: 595px;
    position: absolute; /* Ensures the box stays in the viewport even during scrolling */
    top: 0;         /* Aligns to the top */
    right: 0;  
    margin-right:45px;
    border-radius: 24px;
    margin-top:500px;    
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.Maths{
    background:var(--widget-color);
    width: 373px;
    height: 385px;
    position: absolute; /* Ensures the box stays in the viewport even during scrolling */ 
    margin-right:45px;
    border-radius: 24px;
    margin-top:590px;  
    margin-left: 140px; 
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    
}
.Physics{
    background:var(--widget-color);
    width: 373px;
    height: 385px;
    position: absolute; /* Ensures the box stays in the viewport even during scrolling */ 
    margin-right:45px;
    border-radius: 24px;
    margin-top:590px;  
    margin-left: 529px; 
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.Chemistry{
    background:var(--widget-color);
    width: 373px;
    height: 385px;
    position: absolute; /* Ensures the box stays in the viewport even during scrolling */ 
    margin-right:45px;
    border-radius: 24px;
    margin-top:590px;  
    margin-left: 917px; 
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.course{
    display: flex;
    gap: 20px;
}
.course > div {
    transition: var(--tran-03); /* Adds smooth transition */
  }
  
  .course > div:hover {
    transform: scale(1.05); /* Slightly increase the size on hover */
  }
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}
 .maincontainer .topcontainer {
    background: var(--body-color);
    height: 190px;
    width: 343px;
    margin-top: 15px;
    border-radius: 14px;
    
 }
 .topcontainer img{
    height: 100%; /* Ensures the image height fills the circle */
    width: 100%; /* Ensures the image width fills the circle */
    object-fit: cover;
    border-radius: 14px;
 }
 .maincontainer .lowcontainer{
    position: absolute;
    top: 200px;
    left: 0px;
    margin-top: 20px;
    margin-left: 15px;
 }
 .lowcontainer h1{
    font-size: 21px;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: var(--text-color);
 }

/*graph*/
.block {
    height: 400px;
    width: 1070px;
    background-color:var(--widget-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-30px;
    margin-top: 20px;
}
canvas {
    width: 100% !important;
    height: 100% !important;
}
